*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    border-radius: 40px;
    width: 97vw;
    height: 90vh;
    max-width: 450px;
    background-color: rgba(200, 200, 200, 0.438);
    padding: 20px 27px 0px 20px;
    position: relative;
}
.game{
    width: 100%;
    height: 55%;
    display: grid;
    grid-template-rows: 34% 33% 33%;
    grid-template-columns: 33% 33% 34%;
    gap: 5px;
}
.boxes{
    background-color: transparent;
    box-shadow: 3px 5px 10px rgba(0,0,0,0.8),-3px -5px 10px rgba(0,0,0,0.8);
    color: rgb(1, 15, 59);
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-weight: 540;
    cursor: pointer;
}
.hover:hover{
    box-shadow:inset 4px 5px 15px rgba(0,0,0,0.9);
    background-color: rgba(255, 255, 255, 0.566);
    transition: 0.6s;
}
.turn{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.choose{
    width: 40%;
    height: 50%;
    background: transparent;
    box-shadow: 3px 5px 10px rgba(0,0,0,0.8),-3px -5px 10px rgba(0,0,0,0.8);
    border-radius: 20px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
.turn1,.turn2{
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 38px;
    font-weight: 600;
}
.box1{
    border-top-left-radius: 20px;
}
.box3{
    border-top-right-radius: 20px;
}
.box7{
    border-bottom-left-radius: 20px;
}
.box9{
    border-bottom-right-radius: 20px;
}
.turn1{
    color: rgb(168, 154, 3);
}
.turn2{
    color: red;
}
.b-s{
    box-shadow:inset 3px 5px 10px rgba(0,0,0,0.8);
    width: 68%;
    border-radius: 20px;
    background-color: rgb(214, 214, 214);
}

.msg{
    width: 100%;
    height: 25%;
    margin: 30px 120px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    color: aliceblue;
    gap: 13px;
    font-family: 'monospace';
    font-size: 40px;
}
.hide{
    display: none;
}
.btn{
    position: absolute;
    transition: 0.9s;
    bottom: 40px;
    width: 130px;
    height: 40px;
    right: 270px;
    padding: 6px;
    background: transparent;
    border: none;
    color: aliceblue;
    border-radius: 7px;
    font-size: 20px;
    box-shadow: 3px 5px 10px rgba(0,0,0,0.8),-3px -5px 10px rgba(0,0,0,0.8);
}
.btn:hover{
    box-shadow:inset 3px 5px 10px rgba(0,0,0,0.8);
    width: 129px;
    border-radius: 10px;
    color: rgba(239, 238, 238, 0.563);
    font-size: 19px;
    cursor: pointer;
    transition: 0.2s;
}
.btn:active{
    background-color: rgb(172, 172, 172);
    color: black;
}
#ng{
    right: 50px;
}
.cs{
    box-shadow:inset 3px 5px 10px rgba(0,0,0,0.8);
    max-width: 130px;
    border-radius: 20px;
    background-color: rgb(197, 196, 198);
}

@media (max-width: 600px){
    .btn{
        right: 230px;
    }
}